#wrapper {
  margin-top:60px;
  width: 100%;
  height: 800px;
  background-color:#E8EEF0;
  padding: 10px;
}

  img {
    width:100%;
  display:block;
    height: 450px;
  object-fit:cover;
    object-position:0 65%;
  margin-top:-10px;
  margin-right:auto;
  margin-bottom:0px;
  margin-left:auto;
  image-align:center;
}

h2{
  color: #515151;
  font-size: 80px;
  text-align: center;
  margin-top: 30px;
  font-family:Microsoft JhengHei Light;
}
  p{
  color: #515151;
  font-size: 30px;
  text-align: center;
  margin-top: -50px;
  font-family:Microsoft JhengHei Light;
}
#block_1 {
  margin:auto;
  margin-top:50px;
  width: 90%;
  height: 330px;
  background-color:#DBF4FD;
  padding: 10px; 
  
}
.img2{
  width:550px;
  height:330px;
  display:block;
  margin-top: 0px;
  margin-right:auto;
  margin-bottom:0px;
  margin-left:auto;
  float:right;
}
h3{
  color: #515151;
  font-size: 30px;
  margin-top: 50px;
  font-family:Yu Gothic Light;
  text-align: center;
}
.problem{
  color: #515151;
    font-size:20px;
  margin-top:50px;
  font-family:Yu Gothic Light;
  text-align: center;
}

#block_2 {
  margin:auto;
  margin-top:50px;
  width: 90%;
  height: 330px;
  background-color:#DBF4FD;
  padding: 10px; 
  
}
.img3{
  width:550px;
  height:330px;
  display:block;
  margin-top: 0px;
  margin-right:auto;
  margin-bottom:0px;
  margin-left:auto;
  float:right;
}
h4{
  color: #515151;
  font-size: 30px;
  margin-top: 50px;
  font-family:Yu Gothic Light;
  text-align: center;
}
.solution{
  color: #515151;
    font-size:20px;
  margin-top:50px;
  font-family:Yu Gothic Light;
  text-align: center;
}
#block_3 {
  margin:auto;
  margin-top:50px;
  width: 90%;
  height: 330px;
  background-color:#DBF4FD;
  padding: 10px; 
  
}
.img4{
  width:550px;
  height:330px;
  display:block;
  object-fit:cover;
  margin-top: 0px;
  margin-right:auto;
  margin-bottom:0px;
  margin-left:auto;
  float:right;
}
h5{
  color: #515151;
  font-size: 30px;
  margin-top: 50px;
  font-family:Yu Gothic Light;
  text-align: center;
}
.vision{
  color: #515151;
    font-size:20px;
  margin-top:50px;
  font-family:Yu Gothic Light;
  text-align: center;
}

#coming {  
  margin-top:60px;
  width: 100%;
  height: 800px;
  background-color:#E8EEF0;
  padding: 10px;
}
.img5 {
    width:100%;
  display:block;
    height: 450px;
  object-fit:cover;
    object-position:0 65%;
  margin-top:50px;
  margin-right:auto;
  margin-bottom:0px;
  margin-left:auto;
  image-align:center;
}
h6{
  color: #515151;
  font-size: 80px;
  text-align: center;
  margin-top: 30px;
  font-family:Microsoft JhengHei Light;
}

.looking{
  color: #515151;
    font-size:25px;
  margin-top:-170px;
  font-family:Microsoft JhengHei Light;
  text-align: center;
}

#end{
  margin-top:60px;
  width: 100%;
  height: 800px;
  background-color:white;
  padding: 10px;
}
.img6 {
    width:30%;
  display:block;
    height: 59.7%;
  margin-top:50px;
  margin-right:auto;
  margin-bottom:0px;
  margin-left:300px;
  float:left;
}
 .contact{
 color: #515151;
  font-size: 50px;
  margin-top: 170px;
     margin-left:30%;
    margin-right:100px;
    margin-bottom:-20px;
  font-family:Microsoft JhengHei Light;
  text-align:center;
}
.website{
   color: #515151;
  font-size: 30px;
  margin-top: 70px;
     margin-left:30%;
    margin-right:100px;
    margin-bottom:80px;
  font-family:Microsoft JhengHei Light;
  text-align:center;
}
  .tel{
    color: #515151;
  font-size: 30px;
  margin-top: -30;
    margin-left:100px;
    margin-right:100px;
    margin-bottom:100px;
  font-family:Microsoft JhengHei Light; 
}
